<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单输入绑定</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <!-- 
    你可以用 v-model 指令在表单 <input>、<textarea> 及 <select> 元素上创建双向数据绑定。它会根据控件类型自动选取正确的方法来更新元素。
    尽管有些神奇，但 v-model 本质上不过是语法糖。它负责监听用户的输入事件以更新数据，并对一些极端场景进行一些特殊处理。

    v-model 会忽略所有表单元素的 value、checked、selected 特性的初始值而总是将 Vue 实例的数据作为数据来源。你应该通过 JavaScript 在组件的 data 选项中声明初始值。
    
    v-model 在内部为不同的输入元素使用不同的属性并抛出不同的事件：
    
        text 和 textarea 元素使用 value 属性和 input 事件；
        checkbox 和 radio 使用 checked 属性和 change 事件；
        select 字段将 value 作为 prop 并将 change 作为事件。
    -->
                
    <div id="app1">
        <!-- 文本输入框 -->
        <input type="text" v-model="message" placeholder="Edit this">
        <!-- 等价于下面的表达方式 -->
        <!-- <input v-bind:value="message" v-on:input="message = $event.target.value"> -->
        <p>Message: {{ message }}</p>
        <hr />

        <!-- 文本域 -->
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ multi_message }}</p>
        <br>
        <textarea v-model="multi_message" placeholder="add multiple lines"></textarea>
        <hr />

        <!-- 单选框 -->
        <input type="checkbox" name="checkbox1" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        <hr />

        <!-- 复选框 -->
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
        <hr />

        <!-- 单选按钮 -->
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
        <hr />

        <!-- 选择框 -->
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
        <hr />

        <!-- 多选框 -->
        <select v-model="multi_selected" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Multi Selected: {{ multi_selected }}</span>
        <hr />
        
        <!-- 用 v-for 渲染的动态选项 -->
        <select v-model="need_selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ need_selected }}</span>
        <hr />

        <!-- 把值绑定到 Vue 实例的一个动态属性上，这时可以用 v-bind 实现，并且这个属性的值可以不是字符串。 -->
        <!-- 当选中时 vm.pick === vm.a -->
        <input type="radio" v-model="pick2" v-bind:value="a">
        <!-- 当选择123时 vm.selected2.number == 123 -->
        <select v-model="selected2">
            <!-- 内联对象字面量 -->
            <option v-bind:value="{ number: 123 }">123</option>
        </select>
        <hr />

        <!-- 在“change”时而非“input”时更新 -->
        <input v-model.lazy="lay_msg" placeholder="lazy 修饰符">
        <p>{{ lay_msg }}</p>

        <input v-model.number="age" type="number" placeholder="将输入值转为数值类型">
        <input v-model.trim="trim_msg" placeholder="自动过滤用户输入的首尾空白字符">
    </div>

    <script>
        var vm = new Vue({
            el: '#app1',
            data: {
                // 添加初始文本
                message: 'Initial Message...',
                multi_message: 'Initial Message...',
                checked: false,
                checkedNames: ['Jack'],
                picked: 'Two',
                selected: '',
                multi_selected: [],

                need_selected: 'A',
                options: [
                    { text: 'One', value: 'A' },
                    { text: 'Two', value: 'B' },
                    { text: 'Three', value: 'C' }
                ],

                pick2: '',
                a: 'value of pick2',
                selected2: '',

                lay_msg: '',
                age: '',
                trim_msg: '',
            }
        });
    </script>
</body>

</html>